<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Play Ping Pong!</title>
</head>
<body>
    <div class='container'>
        <h1>Ping Pong</h1>
        <p>Enter a number to play.</p>
        <form action='/view_result'>
            <div class='form-group'>
              <label for='number'>Numbero:</label>
              <input id='number' name='number' class='form-control' type='number' required>
            </div>
            <button type='submit' class='btn-success'>Play!</button>
        </form>
    </div>
</body>
</html>
