<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Let's play!</title>
</head>
<body>
    <div class="container">
        {% if result is empty %}
            <h1>Give me a positive number homie!</h1>
        {% endif %}
        {% if result is not empty %}
        <h1>I win:</h1>
            {% for number in result %}
                <ul class="list-unstyled">
                    <li><h3>{{ number }}</h3></li>
                </ul>
            {% endfor %}
        {% endif %}<br>
        <h3><a href="/">Home!</a></h3>
    </div>
</body>
</html>
